<!doctype html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="//assets-cdn.ziggeo.com/v1-stable/ziggeo.css" />
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
<style>
</style>
  </head>
  <body>
  {{{body}}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/rasterizehtml/1.2.2/rasterizeHTML.allinone.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="//assets-cdn.ziggeo.com/v1-stable/ziggeo.js"></script>
  <script src="/js/main.js"></script>
  <script>ZiggeoApi.token = "b0a3bb4d8571a44308c87428343f48da";</script>
  </body>
</html>
