<header>
  <div class='logo'></div>
  <span><em>Turn your videos into comic strips and share with your friends.</em></span>
</header>
<nav>
  <ul>
    <li>Home</li>
    <li class='donate'><a href='#'>Donate</a></li>
    <li><a href='#'>Contact</a></li>
    <li class='donate'><a href='#'>Donate</a></li>
    <li class='donate'><a href='#'>Want to Donate?</a></li>
  </ul>
</nav>
<section id='main'>
  <h1>Record/Upload a Video</h1>
  <div class='record'>
    <div class="ziggeo-record">
      <ziggeo ziggeo-limit=15
      ziggeo-width=600
      ziggeo-height=360>
      </ziggeo>
    </div>
  </div>
  <h3>or paste a video url</h3>
  <div>
    <input type='url' id='video_url' placeholder="http://" />
  </div>
  <button id='go_to_editor'>Take me to what matters!</button>
</section>

<section id='editor'>
  <div class='input'>
    <div id="video-container">
      <div id="ziggeo-player"></div>
      <button id="set-style">Set Style</button>
      <div id="output"></div>
    </div>
    <div class='quote_editor'>
      <div id='frame' style='width: 400px; height: 225px; font-size: 20px;'>
        <span id='quote'></span>
      </div>
      <div class='quote_selector'>
      <fieldset>
        <legend><strong>Select a Quote</strong></legend>
        <div><input type='radio' name='quote' value='custom'/> <input type='text' id='custom_quote' /></div>
        <div><input type='radio' name='quote' value='Bla bla bla bla bla' checked/> <span>Bla bla bla bla bla</span></div>
      </fieldset>
      <fieldset>
        <div>Color: <input type='color' id='text_color' /></div>
        <button id="add_quote">Add Quote</button>
      </fieldset>
      </div>
      OUTPUT:
      <canvas id='output-canvas'></canvas>
    </div>
    <div id='share'>
    </div>
  </section>
<footer>
</footer>
