<div class="ziggeo-record">
  <ziggeo ziggeo-limit=15
          ziggeo-width=320
          ziggeo-height=240>
  </ziggeo>
</div>
<div id="ziggeo-player"></div>
<div class="player"></div>

<form action="/tags" method="POST">
  <input name="img" value="img_url">
  <input type="submit">
</form>
